# hidden_size
# 128 -> 256 -> 32 (trying to fight overfitting problem)
'hidden_size': 32

# lstm_layers
# Reduced 3 -> 2  -> 1 to prevent overfitting
'lstm_layers': 1

# attention_head_size
# Increased 8 -> 16 for better attention -> 8 (back to 8 to fight overfitting) -> 4
'attention_head_size': 4

# hidden_continuous_size
# Increased 64 -> 128 for better feature processing -> 32 (also for overfitting) -> 16
'hidden_continuous_size': 16

'output_size': 7  # For 7 quantiles (0.05, 0.1, 0.25, 0.5, 0.75, 0.9, 0.95) # TODO |> implementare